---
interface Props {
  title?: string;
  subtitle?: string;
}

const { title = 'Blog', subtitle } = Astro.props as Props;
---

<section class="w-full py-4">
  <div class="mx-auto max-w-5xl px-3">
    <div class="grid items-center gap-4 md:grid-cols-2">
      <h1
        class="text-foreground text-4xl font-extrabold tracking-tight md:text-6xl"
      >
        <span
          class="bg-gradient-to-r from-[var(--accent)] to-[var(--accent-dark)] bg-clip-text text-transparent"
          >{title}</span
        >
      </h1>
      {
        subtitle && (
          <p class="text-base text-[color:var(--color-text-secondary)] md:text-right md:text-lg">
            {subtitle}
          </p>
        )
      }
    </div>
  </div>
</section>
